
streamlit


pandas
numpy

beautifulsoup4      
requests             
scikit-learn         

selenium


torch
transformers
sentence-transformers


matplotlib
seaborn
plotly

chromedriver-autoinstaller
